C:\Users\Norielle\Desktop\OPERSYS-MCO2\.metadata

Java/[OPERSYS] MCO2 Semaphore/bin/*.class

Java/[OPERSYS] MCO2 Lock/bin/*.class
Group2/new/Passenger.class
*.class
*.xmi
*.index
.metadata/.plugins/org.eclipse.core.resources/.history/2a/2074571ae36e001719e9c3eeadbe35da
*.snap
